@charset "UTF-8";




th{
	background-color: #7a87b4;
	color: #fff;
}

input.btn, input#modifyBtn {
    border-radius: 5px;
    border : 0;
    width: 100px;
    height: 35px;
    font-size: 14px;
    color: #fff;
    background: #323b59;
}



tr.listclick:hover{
	border-collapse: collapse;
	background-color: #abd;
}


table.user_list_table th, tr{
	font-size: 16px;
}

td.table_border{
	height: 1px;
}

tr.th_class{
	background-color: #4d5a88;
	color: #fff;
	font-size: 20px;
	height: 40px;
}

tr.listclick:hover{
	border-collapse: collapse;
	background-color: #abd;
}

td.list {
	text-align: center;
}
td.tablesubmit{
	text-align: right;
}

tr.listclick{
	height: 35px;	
}
div.list_main{
	width : 100%;
	padding-top: 2rem;
}

tr.delete_member, tr.delete_bbs{
	height: 50px;
}

/* Modal window */


tr.modal_detail, tr.modal_update{
	height: 35px;
}


div.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
div.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


/* The Close Button */
span.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

span.close:hover, span.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

th.modal_table_header{
	background-color: #4d5a88;
	color: #fff;
}