@charset "UTF-8";

/* 캐러셀 영역 설정 */
#recipeCarousel{
	margin: 10px;
	padding: 20px;
}

/* 이미지 캐러셀 크기 설정 */
.img-fluid{
	min-height: 130px;
	max-height: 130px;
	margin-bottom: 10px;
	margin-top: 10px;
}

/* 캐러셀 이미지 내부 캡션 영역 */
.innerCarouselCaption{
	float: left;
	background-color: rgba(0,0,0,0.8);
}

/* 캐러셀 아이템 css 설정 */
.item_section {		
	position: relative;
	width: 240px;
	min-width: 240px;
	height: 310px;
	margin-left: 27px;
	background: rgba(22, 22, 22, 0.6);
	color: #E0E0E0;
	border-radius: 3%;
	text-align: center;
	padding: 10px;
	z-index:1;
}
.carousel-control-next{
	position: absolute;
	z-index:3;
	left: 1050px;
}
.carousel-control-prev{
	position: absolute;
	z-index:3;
	left: -75px;
}

/* 캐러셀 아이템 백그라운드 이미지 설정 */
.mainContentBgImg{
  float: left;
  position: fixed;
  top:85px;
  width: 100%;
  height: 1080px;
  min-height: 35rem;
  padding: 15rem 0;
  /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.5)), color-stop(75%, rgba(22, 22, 22, 0.1)), to(#161616)), url("/jejuya/resources/image/main/bg-masthead.jpg");
  background: linear-gradient(to bottom, rgba(252, 252, 252, 0.) 0%, rgba(252, 252, 252, 0.7) 75%, #161616 100%), url("/jejuya/resources/image/main/bg-masthead.jpg"); */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 2, 2, 0.0)), color-stop(75%, rgba(22, 22, 22, 0.9)), to(#161616)), url("/jejuya/resources/image/main/beach_animated2.gif");
  background: linear-gradient(to bottom, rgba(252, 252, 252, 0.5) 0%, rgba(25, 22, 22, 0.7) 75%, #161616 100%), url("/jejuya/resources/image/main/beach_animated2.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  z-index:-3;
}

/* 캐러셀 아이템 폰트 */
.itemDescriptionTbl{
	width: 220px;
}
.itemDescriptionTbl td{
	padding-top: 4px;
}

/* 캐러셀 상단 제목 폰트 */
.carouselDescriptionWrap{
	
}
.carouselDescription{
	color: white;
	font-size: 40px;
}
.carouselDescriptionLink{
	color: #77e3e6;
}
.carouselDescriptionLink:hover{
	color: white;
}