@charset "UTF-8";

#content {
	margin: 0 auto;
	padding: 100px 0 0 0;
	width: 1200px;
}

.item_section {
	float: left;
	position: relative;
	width: 365px;
	height: 400px;
	margin-left: 27px;
	background: #fff;
	-webkit-box-shadow: 3px 4px 5px 0 rgba(2, 2, 2, .2);
	box-shadow: 3px 4px 5px 0 rgba(2, 2, 2, .2);
	text-align: center;
	
}

.starcount{
	position: absolute;
	top: 170px;
	right : 0px;
	width: 90px
}

.starcount2{
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	font-size : 
}

.s_day {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	padding: 0 15px;
	background: #333;
	font-size: 14px;
	color: #fff;
	line-height: 22px;
}

.recommend_tour .theme_list li {
	display: table;
	float: left;
	position:relative;
	right: 13px;
	width: 316px;
	height: 73px;
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	text-align: center;
	background-color: #a7a7a7;
}

.recommend_tour .theme_list li a{
	
	display: table-cell;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
    color: #e0e0e0;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    font-size: 21px;
}

.recommend_tour{
	height: 145px;
	padding-bottom: 10px;
	width: 1300;
}
.theme_list li a{
	display:block;
    　width:100%;
      height:100%;
      
}

.recommend_tour a {
	color: inherit;
	text-decoration: none;
}

.listcls{
	overflow:auto;
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    
    content: "";
    
    clear: both;
    width: 100%;
    height: auto;
}





.util_area{
	height: 50px;
	padding: 30px 0 10px 0;
	margin: 0 30px 0 30px;

}

#select_type{
	text-align: right;

}

.category_name{
	float: left;
	
}
.paging a:hover:not(.active) {
	background-color: #ddd;
	text-decoration: none;
	padding: 8px 16px;
	float: left;
}
.paging a{
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  float: left;

}

.paging .nowpage{
  text-decoration: none;
  background-color: #ef6d00;
  color: white;
  padding: 8px 16px;
  float: left;

}

.paging{
	height: auto;
	padding-top: 50px;
	text-decorationalign: center;
	text-align:center;
	font-size: 18px;
	display: inline-block;
}


/* .item_img:hover {
	transition: all ease 0.5s;
	transform: scale( 1.03 );
} */
.item_img{
	 -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.165,.84,0.44,1);
    transition: -webkit-transform 0.2s cubic-bezier(0.165,.84,0.44,1);
    transition: transform 0.2s cubic-bezier(0.165,.84,0.44,1);
    transition: transform 0.2s cubic-bezier(0.165,.84,0.44,1), -webkit-transform 0.2s cubic-bezier(0.165,.84,0.44,1)
}

.item_img:hover {
	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.imgsightlistcls{
	height:220px;
	width: 100%;
	overflow: hidden;
}


.s_tit{
	font-size: 20px;
	padding-top: 8px;
}

.top_content_tit{
	font-size:30px;
	font-weight:900;
	text-align: center
}

.sort_sel{
	height: 40px;
	position: relative;
	left: 6px;
}

.search_window{
	display: inline-block;
	width: 192px;
	height: 40px;
	border: 3px solid #ef6d00;
	background-color: white;
	position: relative;

}

.search_text{
	width: 185px;
	height: 34px;
	border: 0;
	outline: none;

}

.search_btn{
 width: 50px;
 height: 40px;
 background: #ef6d00;

 border:0;
 color: white;
 font-weight: bold;

 padding: 0 0 0 0;


}